@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #1a1612;
}

::-webkit-scrollbar-thumb {
    background: #4a3a21;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f9a824;
}